#dividerOne {
display: flex;
flex-direction: column-reverse;
align-content: space-between ;
/* flex-wrap: wrap; */
height: 2000px;
align-items: flex-end;
flex-grow: unset;

}


#dividerDos {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: unset;
    width: auto;
    
}
.child {
    height: 150px;
    width: 150px;
    margin-top: 1%;
    
}